<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188447488821-3com0iqm105jveej9628v21m0uih7ef5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188447488821-3com0iqm105jveej9628v21m0uih7ef5</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ3rQzY6DNuBgakid2eZyMpqCu0BFYqEk</string>
	<key>GCM_SENDER_ID</key>
	<string>188447488821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoapp</string>
	<key>PROJECT_ID</key>
	<string>cryptoapp-9f203</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoapp-9f203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188447488821:ios:fa3f699f2625451763ea7c</string>
</dict>
</plist>